{% extends 'base.html' %}

{% block content %}
    <section class="news-section">
        <h2 class="news-title">Dive into Astronomy</h2>
        <div class="news-articles">
            <section class="news-article">
                <h4 class="article-headline">World's largest astronomy museum set to open in Shanghai</h4>
                <img class="article-img" src="/static/images/article1.jpg" />
                <span class="article-date">July 12, 2021</span>
                <article class="article-text">
                The world's largest astronomy museum is opening in Shanghai, and its complex curvilinear shape has been designed to reflect the geometry of the cosmos. With no straight lines or right angles used throughout, the structure is instead formed from three overlapping arcs that allude to the orbits of celestial bodies.
                Opening Friday, the 420,000-square-foot Shanghai Astronomy Museum -- a branch of the Shanghai Science and Technology Museum -- will house exhibitions, a planetarium, an observatory and a 78-foot-tall solar telescope. It was conceived by US firm Ennead Architects, which in 2014 won an international competition to design the building.
                The Shanghai Astronomy Museum was intentionally designed without straight lines or right angles.
                The Shanghai Astronomy Museum was intentionally designed without straight lines or right angles. Credit: Courtesy Ennead Architects
                <br>
                "We really thought that we could leverage the architecture to bring incredible impact to this whole experience," said lead designer and partner Thomas J. Wong in a video interview. "The building is meant to be this embodiment of ... astronomically inspired architecture."

                By foregoing straight walls in favor of arcing lines, Wong and his team hoped to show that everything in the universe is in constant motion and governed by an array of forces.
                Designs unveiled for the world's largest single-domed greenhouse
                </article>
                <span class="read-more">Read article on official website <a href="https://www.cnn.com/style/article/shanghai-astronomy-museum-ennead-architects-scn/index.html">here</a></span>
            </section>
            <section class="news-article">
                <h4 class="article-headline">Astronomers discover teardrop-shaped star they predict will explode in supernova</h4>
                <img class="article-img" src="/static/images/article2.jpg" />
                <span class="article-date">July 13, 2021</span>
                <article class="article-text">
                An international team of astronomers has discovered a teardrop-shaped star that it predicts is about to explode in a supernova.
                <br>
                The star's unusual shape is caused by a nearby white dwarf distorting the ball of burning gas with its intense gravity.
                <br>
                The pull of the white dwarf is so great that it will eventually cause the teardrop-shaped star to explode and consume both, according to the research published in the journal Nature Astronomy.
                </article>
                <span class="read-more">Read article on official website <a href="https://news.sky.com/story/astronomers-discover-teardrop-shaped-star-they-predict-will-explode-in-supernova-12355587">here</a></span>
            </section>
            <section class="news-article">
                <h4 class="article-headline">Astronomers finally uncover 40-year mystery of Jupiter's epic X-ray aurora flares</h4>
                <img class="article-img" src="/static/images/article3.jpg" />
                <span class="article-date">July 14, 2021</span>
                <article class="article-text">
                For 40 years, Jupiter's intense aurora polaris, also known as northern and southern lights, have puzzled astronomers around the world. Now, scientists have finally uncovered the mystery behind the gas giant's epic X-ray flares.
                <br>
                Using measurements taken by NASA's Juno spacecraft, which is orbiting Jupiter, and data from the European Space Agency's Earth-orbiting XMM-Newton mission, astronomers have been able to view the entire phenomenon from start to finish in a way they never could before.
                </article>
                <span class="read-more">Read article on official website <a href="https://www.cbsnews.com/news/jupiter-40-year-mystery-x-ray-aurora-flares-uncovered/">here</a></span>
            </section>
            <section class="news-article">
                <h4 class="article-headline">Astronomers Discover Giant Comet in Outer Solar System</h4>
                <img class="article-img" src="/static/images/article4.jpg" />
                <span class="article-date">June 29, 2021</span>
                <article class="article-text">
                Comet Bernardinelli-Bernstein, which is between 100 and 200 km (62-124 miles) across, will make its closest approach to the Sun in 2031, according to an analysis of data from the Dark Energy Survey. It could be the largest member of the Oort Cloud ever detected, and it is the first comet on an incoming path to be detected so far away.
                <br>
                Comet Bernardinelli-Bernstein is named after two University of Pennsylvania astronomers, Pedro Bernardinelli and Professor Gary Bernstein, who spotted it in archival images from the Dark Energy Survey.
                <br>
                Also known as C/2014 UN271, the comet is estimated to be 100-200 km across, or about 10 times the diameter of most solar system comets.
                </article>
                <span class="read-more">Read article on official website <a href="http://www.sci-news.com/astronomy/comet-bernardinelli-bernstein-09806.html">here</a></span>
            </section>
        </div>
        <section class="exoplanets-section">
            <h2>Meet some of the exoplanets in the Universe</h2>
            <p>Planets that orbit around other stars are called exoplanets.</p>
            <table class="exoplanets-table" style="width:100%">
                <tr class="columns">
                    <th>Exoplanet Name</th>
                    <th>Date Found</th>
                    <th>Distance</th>
                </tr>
                <tr class="rows">
                    <td>51 Pegasi b</td>
                    <td>October 6, 1995</td>
                    <td>50.91 light years</td>
                </tr>
                <tr class="rows">
                    <td>Kepler-452b</td>
                    <td>July 23, 2015</td>
                    <td>1,402 light years</td>
                </tr>
                <tr class="rows">
                    <td>TOI-700 d</td>
                    <td>January 3, 2020</td>
                    <td>101.4 light years</td>
                </tr>
                <tr class="rows">
                    <td>HD 209458 b</td>
                    <td>September 9, 1999</td>
                    <td>159 light years</td>
                </tr>
            </table>
        </section>
    </section>
{% endblock %}