{% extends 'base.html' %}
{% block content %}
<section class="reset">
    <form class="reset-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1>Change Password</h1>
        <div class="form-group">
            {{ form.old_password.label }}
            {{ form.old_password(size=32) }}

            {% for error in form.old_password.errors %}
            <span class="errors">{{ error }}</span>
            {% endfor %}  
            <br>
            {{ form.password.label }}
            {{ form.password(size=32) }}

            {% for error in form.password.errors %}
            <span class="errors">{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.c_password.label }}
            {{ form.c_password(size=32) }}

            {% for error in form.c_password.errors %}
            <span class="errors">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="reset-footer">
            {{ form.submit() }}
        </div>
    </form>
</section>
{% endblock %}