/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2015, 7:19:24 PM
    Author     : jim
*/
/*
Design sites
http://www.onextrapixel.com/2013/10/25/40-stunning-website-designs-with-great-color-schemes/
*/
@charset "utf-8";
body {
    background-color:#D1C5B7;
    /*background-color:#92DCE0;*/
}
h1 {
    background-color:#856249;
    /*background-color:#0092D7;*/
    color:whitesmoke;
}
h2 {
    /* color:#0193B7; */
    /*color:#EE8D09;*/
    color:#063E53;
}
h3 {
    /* color:#0193B7;*/
    /*color:#EE8D09;*/
    color:#063E53;
}
footer {
    clear:both;
}
#main {
    font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    text-align:center;
}

#left {
    font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    text-align:left;
}
/*
Class for Centering tables
*/
table.center { 
    margin:auto;   
    outline:double;
    border:none;
}

/*
Table left align
*/
table.left {
    margin:auto; 
    border-style:groove;
    border-color:#856249;
    text-align:left;
}
/*
Tr and td
*/
tr.borders {
    border-style:groove;
    border-color:#856249;
    color:white; 
    background-color:#856249;
}
td.borders {
    border-style:groove;
    border-color:#856249;
    color:white; 
    background-color:#856249;
}
table.gridtable {
    margin:auto; 
    width:50%;    
    font-family: verdana,arial,sans-serif;
    font-size:small;
    color:#333333;
    border-width: 1px;
    border-color: #ffffff;
    border-collapse: collapse;
    text-align:left;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: inherit;
   /*  background-color: #dedede; */
    background-color: #0193B7;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: inherit;
    background-color: #ffffff;
}

table.menus {
    margin:auto; 
    width:75%;      
    font-family: verdana,arial,sans-serif;
    font-size:medium;   
    text-align:center;
}