<!DOCTYPE html>

<html>
    <head>
        <title>SDEV300</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="stylesheet" type="text/css" href="/static/css/shop.css">
        <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    </head>
    <body>
        <nav class="navbar">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/shop">Shop</a>
            <a class="nav-link" href="/register">Register</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>