{% extends 'base.html' %}
{% block content %}
<section class="register">
    <form class="register-form">
        <h1>Create an Account</h1>
        <div class="name-group">
            <input class="form-input" type="text" placeholder="First Name" />
            <input class="form-input" type="text" placeholder="Last Name" />
        </div>
        <div class="form-group">
            <input class="form-input" type="text" placeholder="Username" />
            <input class="form-input" type="password" placeholder="Password" />
            <input class="form-input" type="password" placeholder="Confirm Password" />
        </div>
        <div class="register-footer">
            <button class="register-btn" type="button">Register</button>
        </div>
    </form>
</section>
{% endblock %}