{% extends 'base.html' %}

{% block content %}
<h2 class="shop-title">Catalog</h2>
<section class="shop-grid">
    <section class="shop-item">
        <img class="shop-img" src="/static/images/smithsonian.jpg"  />
        <h5>Smithsonian Planetarium Projector</h5>
        <p>$28.49</p>
        <a class="shop-button" href="https://www.target.com/p/smithsonian-planetarium-projector/-/A-52213640?ref=tgt_adv_XS000000&AFID=google_pla_df_free_local&CPNG=Toys&adgroup=86-0">Buy</a>
    </section>
    <section class="shop-item">
        <img class="shop-img" src="/static/images/solarsystem.jpg"/>
        <h6>Solar System for Kids</h6>
        <p>$20.90</p>
        <a class="shop-button" href="https://www.amazon.com/Planets-Ceiling-Astronaut-Rockets-Stickers/dp/B09494P1Q1/ref=sr_1_8?dchild=1&keywords=solar+system&qid=1625616335&sr=8-8">Buy</a>
    </section>
    <section class="shop-item">
        <img class="shop-img" src="/static/images/telescope.jpg" />
        <h6>Celestron - AstroMaster 130EQ Newtonian Telescope</h6>
        <p>$280.89</p>
        <a class="shop-button" href="https://www.amazon.com/Celestron-31045-AstroMaster-Reflector-Telescope/dp/B000MLL6RS/ref=sr_1_2_sspa?dchild=1&keywords=telescope&qid=1625616144&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzMThTT0FIMllXU0M2JmVuY3J5cHRlZElkPUEwMDc3OTgzMklJTDUxMUxOOTNVSiZlbmNyeXB0ZWRBZElkPUEwNTU3NDk1RkJSOExFR1ZWVkgzJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Buy</a>
    </section>
</section>
{% endblock%}